<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><span></span></div>
    <div class="panel-body">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">IP:</div>
          <div class="col-md-6">{{localizacao.query}}</div>
        </div>
        <div class="row">
          <div class="col-md-6">Latitude:</div>
          <div class="col-md-6">{{localizacao.lat}}</div>
        </div>
        <div class="row">
          <div class="col-md-6">Longitude:</div>
          <div class="col-md-6">{{localizacao.lon}}</div>
        </div>
        <div class="row">
          <div class="col-md-6">Empresa:</div>
          <div class="col-md-6">{{localizacao.org}}</div>
        </div>
        <div class="row">
          <div class="col-md-6">País:</div>
          <div class="col-md-6">{{localizacao.country}}</div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
